* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica;
}

#outside-container {
  width: 950px;
  margin: auto auto;
  padding: 25px 0;
}

#diagram-container {
  width: 800px;
  margin: auto auto;
}

#diagram {
  position: relative;
  height: 115px;
  margin-top:15px;
}

#line {
  height: 150px;
  width: 23px;
  background: rgba(105,105,105,0.1);
  position: absolute;
  top: 0px;
  left: 5px;
  z-index: 0;
}

.stub {
  width: 15px;
  height: 5px;
  background: #333;
  position: absolute;
  top: 30px;
}

#stub-left {
  left: -15px;
}

#stub-right {
  right: -6px;
}

.tr {
  height: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.tr.kick {
  height: 35px;
}

.tr.modifiers {
  height: 15px;
}

.tr.hat {
  height: 18px;
}

.td-holder {
  height: 25px;
  width: 22px;
  border-right: 1px solid #eee;
  float: left;
}

.td-holder:nth-child(1) {
  border-left: 5px solid #333;
  padding-left: 1px;
}

.td-holder:nth-child(4n+4) {
  border-right: 5px solid #777 !important;
  margin-right: 1px;
  padding-right: 1px;
}

.td-holder:nth-child(16),
#decoration {
  border-right: 7px solid #333 !important;
}

.td-holder:nth-child(32) {
  border-color: #333 !important;
}

.swing-1 .td-holder:nth-child(2n) .td { margin-left: 2px; }
.swing-2 .td-holder:nth-child(2n) .td { margin-left: 4px; }
.swing-3 .td-holder:nth-child(2n) .td { margin-left: 6px; }
.swing-4 .td-holder:nth-child(2n) .td { margin-left: 7px; }
.swing-5 .td-holder:nth-child(2n) .td { margin-left: 8px; }
.swing-6 .td-holder:nth-child(2n) .td { margin-left: 9px; }
.swing-7 .td-holder:nth-child(2n) .td { margin-left: 10px; }
.swing-8 .td-holder:nth-child(2n) .td { margin-left: 12px; }
.swing-9 .td-holder:nth-child(2n) .td { margin-left: 12px; }
.swing-10 .td-holder:nth-child(2n) .td { margin-left: 13px; }
.swing-11 .td-holder:nth-child(2n) .td { margin-left: 14px; }
.swing-12 .td-holder:nth-child(2n) .td { margin-left: 15px; }

#decoration {
  width: 392px;
  height: 30px;
}

.kick .td-holder {
  height: 35px !important;
}

.hat .td-holder {
  height: 18px !important;
}

.hat .td {
  margin-top: 0px;
}

.kick .td {
  margin-top: 17px;
}

.td {
  margin-top: 7px;
  height: 18px;
  width: 22px;
  background: none;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: opacity 0.15s linear;
}

.td:hover {
  background: #ccc;
  opacity: 0.8;
  -webkit-transition: none !important;
}

.td[volume="4"] {
  background: rgb(215, 0, 24);
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

.td[volume="3"] {
  background: orange;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

.td[volume="2"] {
  background: rgb(147, 218, 117);
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

.td[volume="1"] {
  background: lightblue;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

.td.current {
  opacity: 1.0 !important;
  -webkit-transition: none !important;
}

.muted .td[volume="1"],
.muted .td[volume="2"],
.muted .td[volume="3"],
.muted .td[volume="4"] {
  background: #ddd;
}

.tr.modifiers .td {
  -webkit-border-radius: 12px;
  height: 11px;
  width: 11px;
  margin-left: 5px;
  margin-top: 0px;
  background: whitesmoke;
}

.tr.modifiers .td-holder {
  height: 15px;
  border-right-color: white;
  font-weight: bold;
}

.tr.modifiers .td {
  position: relative;
}

.tr.modifiers .td .plus {
  position: absolute;
  top: -9px;
  left: -1px;
  font-size: 21px;
  display: none;
}

.tr.modifiers .td[stick="true"][modified="1"] {
  background: #333;
}

.tr.modifiers .td[stick="false"][modified="1"] {
  background: white;
}

.tr.modifiers .td[stick="false"][modified="1"] .plus {
  display: block;
}

#mutes {
  position: absolute;
  width: 30px;
  height: 100px;
  top: 45px;
  left: -45px;
}

#mutes .mute {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 15px;
  background: #ddd;
  margin-bottom: 15px;
  cursor: pointer;
}

#mutes .muted {
  background: #eee;
}

#jds {
  position: absolute;
  top: 43px;
  right: -65px;
  height: 100px;
  width: 50px;
}

#jds .jd {
  height: 15px;
  margin-bottom: 15px;
}

#jds .jd div {
  float: left;
  width: 18px;
  color: #ccc;
  cursor: pointer;
  text-align: center;
}

#controls {
  margin-top:35px;
  color: #aaa;
  position: relative;
}

.control {
  background: none;
  border: none;
  font-size: 24px;
  color: #999;
  float: left;
  width: 33px;
}

#start {
  visibility: hidden;
  color: #222;
}

#stop {
  display: none;
  color: #222;
}

#bpm {
  width: 50px;
  font-family: "Helvetica Neue", ;
  font-size: 24px;
  color: #777;
  border: none;
  text-align: center;
}

#swing-meter {
  height: 20px;
  width: 143px;
  background: white;
  position: absolute;
  top: 5px;
  right: 10px;
}

#swing-meter div {
  width: 10px;
  height: 20px;
  background: #eee;
  float: left;
  border-right: 1px solid white;
  cursor: pointer;
}

#swing-meter div.swung {
  background: #ccc;
}

#swing-meter div:hover {
  background: #777;
}

#half-time {
  position: absolute;
  top: 2px;
  left: 165px;
  padding: 5px;
  background: #ddd;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 20px;
  width: 19px;
  height: 19px;
  text-align: center;
  font-size: 15px;
}

#half-time:hover {
  background: #777;
}

#half-time.on {
  background: #555;
}

#outside-container .hoveronly {
  opacity: 0.1;
  -webkit-transition: opacity 0.1s linear;
}

#outside-container:hover .hoveronly {
  opacity: 1.0;
}