
  * {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica;
  }

  body {
    overflow-y: scroll;
  }

  #welcome {
    font-size:34px;
  }
  #welcome span {
    font-weight: light;
  }

  #funklet-bar {
    position: relative;
    width: 850px;
    margin: auto auto;
  }

  #funklet-bar a.home {
    font-size: 10px;
    color: red;
    padding-top: 15px;
    font-family: monospace;
    display: block;
    width: 800px;
    margin: auto auto;
    height: 30px;
    text-decoration: none;
  }

  #top-links {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 12px;
    color: #ddd;
  }

  #top-links a {
    font-family: monospace;
    color: red;
    text-decoration: underline;
  }

  .container {
    padding-top: 0px;
    background: white;
    height: 275px;
  }

  .funklet-container {
    width: 975px;
    margin: auto auto;
    height: 275px;
  }

  .funklet-container iframe {
    border: none;
    width: 975px;
    height: 275px;
  }

  #header {
    height: 325px;
    text-transform: uppercase;
    position: relative;
    width: 850px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: auto auto;
    overflow: hidden;
  }

  #header.front {
    width: 800px;
    border: none;
  }

  #image {
    width: 520px;
    height: 520px;
    -webkit-border-radius: 520px;
    position: absolute;
    top: 15px;
    right: 5px;
    background-size: 100%;
  }

  #header.front h1 {
    font-size: 115px;
    color: red;
    margin-top: 80px;
  }

  #info {
    width: 800px;
    margin: auto auto;
    padding-top: 25px;
    position: relative;
  }

  #header span {
    color: red;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 31px;
  }
  h3 {
    font-size: 21px;
    font-weight: normal;
  }

  .hr {
    width: 850px;
    margin: auto auto;
    border-top: 1px solid #eee;
  }

  #text {
    width: 850px;
    margin: auto auto;
    padding-top: 50px;
    margin-bottom: 50px;
    position: relative;
  }

  #about {
    position: absolute;
    top: 0px;
    left: 400px;
  }

  #text p {
    font-family: Georgia, serif;
    width: 493px;
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 25px;
    text-indent: 15px;
    margin-bottom: 15px;
  }

  #text #about p {
    width: 400px;
  }

  #text p em {
    font-family: Georgia, serif;
  }

  #text p:first-child:first-line {
    font-variant: small-caps;
    font-size: 18px;
  }

  a.link {
    display: block;
    font-weight: bold;
    text-decoration: none;
    height: 75px;
    margin-bottom: 25px;
    position: relative;
  }

  a.link span.image {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    height: 85px;
    -webkit-border-radius: 105px;
    background-color: #eee;
    background-position: center center;
    background-size: 150%;
    opacity: 0.9;
  }

  a.link span.title {
    color: #44a;
    font-size: 19px;
    padding: 7px 10px;
    position: relative;
    border-bottom: 1px solid #eee;
    font-family: Monaco, monospace;
    display: inline-block;
    margin-left: 105px;
    margin-top: 20px;
    font-weight: normal;
  }

  a.link span.title em {
    color: #ccc;
  }

  a.link:hover span.title {
    border-color: red;
  }