
  * {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica;
  }

  body {
    overflow-y: scroll;
  }

  #welcome {
    font-size:34px;
  }
  #welcome span {
    font-weight: light;
  }

  #funklet-bar {
    background: white;
    position: relative;
  }

  #funklet-bar a {
    font-size: 10px;
    color: red;
    padding-top: 15px;
    font-family: monospace;
    display: block;
    width: 800px;
    margin: auto auto;
    height: 30px;
    text-decoration: none;
  }

  #funklet-bar a:hover {
    text-decoration: underline;
  }

  #container {
    padding-top: 65px;
    border-bottom: 1px solid #eee;
    background: white;
    height: 230px;
  }

  #funklet-container {
    margin: auto auto;
    width: 950px;
    height: 250px;
  }

  #container iframe {
    width: 950px;
    height: 250px;
    border: none;
  }

  #header {
    background-position: 200px -200px;
    background-size: cover;
    height: 275px;
    text-transform: uppercase;
    position: relative;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
  }

  #header.front {
    background-position: 0px -200px;
    width: 800px;
    margin: auto auto;
  }

  #info {
    width: 800px;
    margin: auto auto;
    padding-top: 25px;
  }

  #header span {
    background: rgba(255,0,0,0.7);
    color: white;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 31px;
  }
  h3 {
    font-size: 21px;
    font-weight: normal;
  }

  #text {
    width: 800px;
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
  }

  #about {
    position: absolute;
    top: 0px;
    left: 400px;
  }

  #text p {
    font-family: Georgia, serif;
    width: 493px;
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 25px;
    text-indent: 15px;
    margin-bottom: 15px;
  }

  #text #about p {
    width: 400px;
  }

  #text p em {
    font-family: Georgia, serif;
  }

  #text p:first-child:first-line {
    font-variant: small-caps;
    font-size: 18px;
  }

  a.link {
    display: block;
    font-weight: bold;
    text-decoration: none;
    width: 350px;
    height: 150px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
    position: relative;
  }

  a.link span.image {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 150px;
    background-position: center center;
    opacity: 0.2;
  }

  a.link span.title {
    color: hsla(0, 100%, 50%, 0.8);
    font-size: 25px;
    padding: 7px 10px;
    display: block;
    position: relative;
  }

  a.link:hover span.title {
    opacity: 0.3;
  }

  a.link:hover span.image {
    opacity: 0.7;
  }

  #posts {
    width: 400px;
  }