<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
 <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} /// The Funklet</title>
   <link rel="stylesheet" href="/style/style.css"/>
 </head>
 <body>
   <div id="funklet-bar">
     <a href="/" class="home"><img src="/images/funklet1.png"/></a>
     <div id="top-links">
       <a href="/about.html">About</a> | <a href="http://funklet.uild.in/funklet.html?vals=00000000000000000000000000000000;00000000000000000000000000000000;00000000000000000000000000000000&mods=..........................&b=120&s=0&jd=0,0,0">Blank</a>
     </div>
   </div>
   {{ content }}
 </body>
</html>