---
layout: default
---
<div id="funklet-bar">
  <a href="/">The Funklet</a>
</div>
<div id="header" style="background-image:url(/images/{{ page.image }}); background-position:{{ page.position }}">
  <div id="info">
    <h1 id="name"><span>{{ page.who }}</span></h1>
    <div id="song">
      <h2><span>{{ page.title }}</span></h2>
      <h3><span>{{ page.act }}</span></h3>
      <h3><span>{{ page.year }}</span></h3>
    </div>
  </div>
</div>
<div id="container">
  <div id="funklet-container">
    <iframe src="{{ page.funklet }}"></iframe>
  </div>
</div>
<div id="text">
  {{ content }}
</div>